*{
    margin: 0;
    padding: 0;
}
.cabeçalho{
    background-color: #9AB68E;
    display: flex;
    justify-content: space-around;
    padding: 24px 0;
    
}

.cabeçalho-titulo{
}

.cabeçalho-lista-item{
    display: inline-block;
    margin: 0 15px;
    font-size: 20px;
}

.titulo-site{
    font-size: 35px;
    text-align: center;
    padding: 3px 0;
}

.introdução-img{
    width: 25%;
}

.introdução{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 30px 0;
}

.introdução-div{
    width: 35%;
}

.introdução-titulo{
    padding: 24px 0;
    font-family: "Lato", sans-serif;
    font-weight: 700;
    font-style: normal;
    font-size: 23px;
}

.introdução-texto{
    font-size: 17px;
    font-family: "Arvo", serif;
    font-weight: 400;
    font-style: normal;
}

.agricultura-sustentável-texto{
    font-size: 20px;
}

.agricultura-sustentável-div {
    margin: 69px;
    padding : 6px 0;
}

.agricultura-sustentável-titulo{
    padding: 24px 0;
}

.praticas-sustentaveis-div{
    margin: 69px;  
    font-size: 20px;
}

.praticas-sustentaveis-titulo{
    padding: 24px 0;
}

.praticas-sustentaveis-texto2{
    padding: 15px;
}

.praticas-sustentaveis-titulo{
    margin: 69px;
}

.praticas-sustentaveis-texto3{
    padding: 15px;
}

.praticas-sustentaveis-texto4{
    padding: 15px;
    padding-bottom: 15px;
}

.praticas-sustentaveis{
    background-image: linear-gradient(#9ECD8B, #58923D);
}

.agricultura-sustentável-img{
    width: 25%;
    height: 40%;
}