.cabeçalho{
    background-color: #9AB68E;
    display: flex;
    justify-content: space-around;
    
}

.cabeçalho-titulo{
    width: 50;
}

.cabeçalho-lista-item{
    display: inline-block;
}