.cabeçalho{
    background-color: #9AB68E;
    display: flex;
    justify-content: space-around;
    
}

.cabeçalho-titulo{
}

.cabeçalho-lista-item{
    display: inline-block;
    margin: 0 15px;
}